<ion-content class="ion-padding primary-background">
  <div class="auth-container">
    <ion-card class="auth-card">
      <ion-card-header>
        <ion-card-title class="title">
          <ion-icon [name]="icon()"></ion-icon>
          {{ title() }}
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-segment [value]="mode()" (ionChange)="switchMode($event.detail.value ?? mode())">
          <ion-segment-button value="login"><ion-label>Connexion</ion-label></ion-segment-button>
          <ion-segment-button value="signup"><ion-label>Inscription</ion-label></ion-segment-button>
        </ion-segment>

        <form [formGroup]="form" (ngSubmit)="submit()" class="form">
          <ion-item>
            <ion-input
              label="Email"
              type="email"
              formControlName="email"
              [required]="true"
              autocomplete="email"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-input
              label="Mot de passe"
              type="password"
              formControlName="password"
              [required]="true"
              [autocomplete]="mode() === 'login' ? 'current-password' : 'new-password'"
            >
              <ion-input-password-toggle slot="end"></ion-input-password-toggle>
            </ion-input>
          </ion-item>

          <!-- Champ visible uniquement en mode signup -->
<!--          @if (mode() === 'signup') {-->
<!--            <ion-item>-->
<!--              <ion-input-->
<!--                label="Confirmer le mot de passe"-->
<!--                type="password"-->
<!--                formControlName="passwordConfirm"-->
<!--                [required]="true"-->
<!--                autocomplete="new-password"-->
<!--              >-->
<!--                <ion-input-password-toggle slot="end"></ion-input-password-toggle>-->
<!--              </ion-input>-->
<!--            </ion-item>-->
<!--          }-->

          <!-- Champ visible uniquement en mode signup -->
<!--          @if (mode() === 'signup') {-->
<!--            <div animate.enter="confirm-enter" animate.leave="confirm-leave">-->
<!--              <ion-item>-->
<!--                <ion-input-->
<!--                  label="Confirmer le mot de passe"-->
<!--                  type="password"-->
<!--                  formControlName="passwordConfirm"-->
<!--                  [required]="true"-->
<!--                  autocomplete="new-password"-->
<!--                >-->
<!--                  <ion-input-password-toggle slot="end"></ion-input-password-toggle>-->
<!--                </ion-input>-->
<!--              </ion-item>-->
<!--            </div>-->
<!--          }-->

          <div class="confirm-accordion" [class.open]="mode() === 'signup'">
            <div class="confirm-inner">
              <ion-item>
                <ion-input
                  label="Confirmer le mot de passe"
                  type="password"
                  formControlName="passwordConfirm"
                  [required]="true"
                  autocomplete="new-password">
                  <ion-input-password-toggle slot="end"></ion-input-password-toggle>
                </ion-input>
              </ion-item>
            </div>
          </div>

          <ion-button expand="block" type="submit" [disabled]="loading()">
            {{ submitLabel() }}
          </ion-button>

          @if (error()) {
            <ion-text color="danger">{{ error() }}</ion-text>
          }
        </form>
      </ion-card-content>

      <ion-card-content class="alt-link">
        <ion-label>
          {{ altQuestion() }}
          <span (click)="switchMode(altTarget())">
            {{ altActionLabel() }}
          </span>
        </ion-label>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
