<ion-header>
  <ion-toolbar>
    <ion-title>S'inscrire</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <ion-item>
      <ion-input label="Email" type="email" formControlName="email" [required]="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Mot de passe" type="password" formControlName="password" [required]="true"></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit" [disabled]="loading">Se connecter</ion-button>
    @if (error) {
      <ion-text color="danger">{{ error }}</ion-text>
    }
  </form>
  <ion-item lines="none">
    <ion-label>Déjà un compte ? <a routerLink="/auth/login">Se connecter</a></ion-label>
  </ion-item>
</ion-content>
