ion-icon[name="chevron-down-outline"] {
  transition: transform 0.25s ease;
  &.rotated {
    transform: rotate(180deg);
  }
}

ion-item {
  color: var(--ion-color-primary);
}

ion-popover::part(content) {
  border-radius: 16px;
  --box-shadow: 0 6px 10px var(--ion-color-primary-rgba);
}
