<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="onClickSecretLink()" color="primary">
        <img slot="start" ngSrc="assets/icon/logo.svg" alt="lock" width="24" height="24" />
        <ion-title id="title">SecretLink</ion-title>
      </ion-button>
      @if (isManagementPage) {
        <ion-button class="ion-hide-md-down" fill="clear" routerLink="/dashboard" color="primary">
          <ion-icon slot="start" name="grid-outline"></ion-icon>
          Dashboard
        </ion-button>
        <ion-button class="ion-hide-md-down" fill="clear" routerLink="/links" color="primary">
          <ion-icon slot="start" name="link-outline"></ion-icon>
          Liens
        </ion-button>
      }
    </ion-buttons>

    <ion-buttons slot="end">
      @if (isManagementPage) {
        <ion-button id="account-btn" fill="clear" color="primary">
          <ion-icon slot="start" name="person-circle-outline"></ion-icon>
          <span class="email ion-hide-md-down">{{ user?.email || "Chargement en cours" }}</span>
          <ion-icon slot="end"
                    class="ion-hide-md-down"
                    name="chevron-down-outline"
                    [class.rotated]="popoverOpen"></ion-icon>
        </ion-button>
      } @else {
        <ion-button fill="clear" color="primary" [routerLink]="user ? '/dashboard' : '/auth'">
          <ion-icon slot="start" name="person-circle-outline"></ion-icon>
          @if (user) {
            <span class="ion-hide-md-down">Accéder à mon espace</span>
          } @else {
            <span class="ion-hide-md-down">Se connecter / Créer un compte</span>
          }
        </ion-button>
      }
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>

@if (isManagementPage) {
  <ion-popover trigger="account-btn"
               [showBackdrop]="false"
               side="bottom"
               alignment="end"
               (ionPopoverWillPresent)="popoverOpen = true"
               (ionPopoverWillDismiss)="popoverOpen = false"
               [dismissOnSelect]="true">
    <ng-template>
      <ion-list lines="none">
        <ion-item [button]="true" routerLink="/account">
          <ion-icon slot="start" name="key-outline" color="primary"></ion-icon>
          Gestion du compte
        </ion-item>
        <ion-item [button]="true" (click)="handleLogout()">
          <ion-icon slot="start" name="log-out-outline" color="primary"></ion-icon>
          Se déconnecter
        </ion-item>
      </ion-list>
    </ng-template>
  </ion-popover>
}
