<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Mentions légales</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card-subtitle>Éditeur du site</ion-card-subtitle>
      <strong>Responsable de publication :</strong> Nicolas BARRAT
      <br>
      <strong>E-mail :</strong> &nbsp; <a href="mailto:nicolas.barrat@nicob.ovh">nicolas.barrat@nicob.ovh</a>
    </ion-card-content>
    <ion-card-content>
      <ion-card-subtitle>Hébergement</ion-card-subtitle>
      <strong>Hébergeur :</strong> auto-hébergement par Nicolas BARRAT sur serveur situé en France.
    </ion-card-content>
    <ion-card-content>
      <ion-card-subtitle>Responsabilité</ion-card-subtitle>
      L’éditeur met tout en œuvre pour assurer l’exactitude des informations. Il ne saurait toutefois être tenu pour responsable des erreurs, omissions ou indisponibilités temporaires du service.
    </ion-card-content>
    <ion-card-content>
      <ion-card-subtitle>Date de dernière mise à jour</ion-card-subtitle>
      26 octobre 2025
    </ion-card-content>
  </ion-card>
</ion-content>
