.badge-align {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

ion-badge {
  padding: 4px 6px;
  font-size: 0.75em;
}

.grid-header::part(native) {
  background: var(--ion-color-step-50, #f7f7f7);
}

.grid-item:nth-child(even)::part(native) {
  background: var(--ion-color-primary-rgba-low);
}

.separate-buttons {
  gap: 10px;
}

.ion-no-padding {
  padding: 0 !important;
}
