ion-icon[name="chevron-down-outline"] {
  transition: transform 0.25s ease;
  &.rotated {
    transform: rotate(180deg);
  }
}

ion-item {
  color: var(--ion-color-primary);
}

#title {
  padding-left: 10px;
  padding-right: 10px;
}
