<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">dashboard2</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Welcome to the Dashboard</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>This is your main dashboard where you can find an overview of your application.</p>
      <p>Use the navigation menu to access different sections.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
